flask==3.0.3
Pillow==10.4.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
pandas==2.2.2
matplotlib==3.9.1
scikit-image==0.24.0
scikit-learn==1.5.1
openpyxl==3.1.5
google-generativeai==0.7.2
gunicorn==22.0.0
